<?xml version="1.0" ?>
<model>
    <name>apartment</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Oscar Lima</name>
        <email>olima@isr.tecnico.ulisboa.pt</email>
    </author>
    <description>ISR testbed walls and doors</description>
</model>
